<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.sql.mapper.MatchMapper">

    <select id="getCandidateSetByWords" resultType="IndexResult" useCache="false" flushCache="true">
        <if test="threshold != null">select * from (</if>

        select page_id,count(word) `count` from inverted_index where word in
        (<foreach collection="list" item="s" separator=",">#{s}</foreach>) group by page_id

        <if test="threshold != null">) t where `count` > #{threshold}</if>
    </select>

    <select id="selectFingerprintsByPageIds" resultType="Fingerprint" useCache="false" flushCache="true">
        select page_id,fpdata from fingerprint where page_id in (<foreach collection="list" item="s" separator=",">#{s}</foreach>)
    </select>

    <insert id="insertFingerprints">
        INSERT INTO fingerprint (page_id,last_update,fpdata) VALUES
        <foreach collection="list" item="s" separator=",">
            (#{s.pageId},#{s.lastUpdate},#{s.fpdata})
        </foreach>
    </insert>

    <insert id="insertFeatureWords">
        INSERT INTO inverted_index (page_id,word) VALUES
        <foreach collection="list" item="s" separator=",">
            (#{s.pageId},#{s.word})
        </foreach>
    </insert>
</mapper>